@charset "utf-8";
/* CSS Document */

@font-face{
	src: url("Fonts/HelveticaNeueLTStd Lt.otf");
	font-family: light;}
@font-face{
	src: url("Fonts/HelveticaNeueLTStd-BdCn.otf");
	font-family: bold-condenced;}
@font-face{
	src: url("Fonts/HelveticaNeueLTStd-Cn.otf");
	font-family: condenced;}
@font-face{
	src: url("Fonts/HelveticaNeueLTStd-It.otf");
	font-family: itali;}
@font-face{
	src: url("Fonts/HelveticaNeueLTStd-LtCn.otf");
	font-family: light-condenced;}
button{
	font-family: condenced;
}
textarea {
   resize: none;
}
a{
text-decoration: none;
}
body {
	font-family: light-condenced;
	background-color: #ECECEC}

*{margin:0;
padding:0;}

h2{ font-family: condenced;
	color: white;}
h1{font-family: bold-condenced;}

#intro{
	justify-self:center;
	justify-content: center;
	position: fixed;
	display: block;
	background-color: #FFB4AA;
	height: 100vh;
	width: 100vw;
	z-index: 500;
	opacity: 0.9;
	animation: intro 1s forwards;}

@keyframes intro {
  0%{
	opacity: 0;
	transform: scale3d(0.3, 0.3, 0.3);
  }
  60%{
	opacity: 0.9;
	transform: scale3d(1,1,1);
  }}

.intro-text-1{
	padding-top: 40vh;
	padding-left: 10vw;
	padding-right: 10vw;
	justify-content: center;
	text-align: center;
	animation: intro 1s forwards;}

.intro-text-3{
	padding-top: 20vh;
	padding-left: 10vw;
	padding-right: 10vw;
	justify-content: center;
	text-align: center;
	animation: intro 1s forwards;}

.intro-text-2{
	z-index: -50;
	opacity: 0;
	padding-top: 40vh;
	padding-left: 10vw;
	padding-right: 10vw;
	justify-content: center;
	text-align: center;}

.next-button-1{
	display: block;
	text-align: center;
	position: fixed;
	background-color: #6ECEB2;
	justify-self:center;
	justify-content: center;
	height: 7vh;
	width: 20vh;
	top:60vh;
	left: 40vw;
margin:auto;}

.next-button-hidden{
	opacity: 0;
}
#next-button-2{
}

#header {
	z-index: 20;
	display: block;
	width: 100vw;
	height: 7vh;
	position: fixed;
	top:0;
	background-color: #2B3449;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end:1;}

#navbar {
	display: block;
	width: 100vw;
	height: 3vh;
	background-color: #2B3449;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end:5;}

#homepage-navigation{
	display: grid;
	grid-template-columns: 50vw 50vw ;
	grid-template-rows: 7vh 30vh 30vh 30vh 3vh;
	align-items: center;
	justify-content: center;
	 align-content: start;
}

#homepage-modules {
	width: 50vw;
	height: 30vh;
	display: block;
	background-color: #6ECEB2;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end:3;
	justify-items: center;
		text-align: center;
}

#homepage-current-task {
	display: block;
	width: 50vw;
	height: 30vh;
	background-color: #FFB4AA;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end:3;
	justify-items: center;
		text-align: center;
}

#homepage-newsfeed{
	width: 50vw;
	height: 30vh;
	display: block;
	background-color: #FDD757;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end:4;
	text-align: center;
}

#homepage-schedule{
	width: 50vw;
	height: 30vh;
	display: block;
	background-color: #59CBE8;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end:4;
	text-align: center;
}

#logout{
	font-family: condenced;
	font-size: 1.2em;
	position: absolute;
	right: 2%;
	top: 2%
}

#english-danish{
	font-size: 2em;
	color: #CA564A;
	text-align:center;
	align-content: center;
	position: fixed;
	background-color: white;
	width: 50px;
	height: 7vh;
	right: 25%;
}
#slide-show{
	top:7vh;
	grid-area: 1/3;
}

slider {
 display: block;
 width: 100%;
 height: 30vh;
 background-color: #1f1f1f;
 overflow: hidden;
 position: absolute;
}

slider > * {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 background: #1f1f1f;
 animation: slide 12s infinite;
 overflow: hidden;
}

slide:nth-child(1){
 left: 0%;
 animation-delay: -1s;
 background-image: url("images/faq3.jpg");
 background-size: cover;
 background-position: center;
}

slide:nth-child(2){
 animation-delay: 2s;
 background-image: url("images/Find-vej.png");
 background-size: cover;
 background-position: center;
}

slide:nth-child(3){
 animation-delay: 5s;
 background-image: url("images/Frontpage-2200x1400.jpg");
 background-size: cover;
 background-position: center;
}

slide:nth-child(4){
 left: 0%;
 animation-delay: 8s;
 background-image: url("images/Studieliv.jpg");
 background-size: cover;
 background-position: center;
}

slide p {
	background-color: white;
	color: black;
 font-family: bold-condenced;
 font-size: 50px;
 text-align: center;
 display: inline-block;
 width: 80%;
 margin-top: 100px;
margin-left: 30px;
}
.homepage-schedule-image {
	width: 10vh;
	height: auto;
	margin: 10px;
	padding-top: 5vh;}

@keyframes slide {
 0% { left: 100%; width: 100%; }
 5% { left: 0%; }
 25% { left: 0%; }
 30% { left: -100%; width: 100%; }
 30.0001% { left: -100%; width: 0%; }
 100% { left: 100%; width: 0%; }
}

#navigation-bar {
	height: 10vh;
	width: 100vw;
	position: fixed;
	bottom: 0%;
	background-color:#2B3449; 
	display:grid;
	justify-content: center;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 10vh;}

.navbar-image{
	padding-top: 2.5vh;
	height: 5vh;
	width: auto;
	justify-content: center;}

#login-page{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 10vh 10vh 20vh 3vh 3vh 0.3fr 0.2fr 0.3fr 1fr;
}

#kealoginlogo{
	z-index: 1;
	position: absolute;
	height: 10vh;
	width: auto;
	transform: translate(30%, 50%)}

#username{
	height:1.5em;
	width: 15em;
	grid-row: 4;
	grid-column: 2;
	justify-self: center;
	text-align: center;}
#username-text{
	height:1.5em;
	width: 15em;
	grid-row: 5;
	grid-column: 2;
	justify-self: center;
	text-align: center;}
#password{
	height:5em;
	width: 15em;
	grid-row: 7;
	grid-column: 2;
	justify-self: center;
	text-align: center;}
#password-text{
	text-align: center;
	height:1.5em;
	width: 15em;
	grid-row: 8;
	grid-column: 2;
	justify-self: center;}

/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

button {
    background-color: #48d1cc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #4682b4;
}

/* Center the image and position
the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
   padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#semester-closed{
	display:grid;
	grid-template-columns: 
		10vw 80vw 10vw;
	grid-template-rows: 
		7vh 5vh 10vh 5vh 10vh 5vh 10vh 5vh 10vh 5vh 10vh 5vh;
}
#first-semester-closed{
	grid-column: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#second-semester-closed{
	grid-column: 2;
	grid-row-start: 5;
	grid-row-end: 6;
}

#third-semester-closed{
	grid-column: 2;
	grid-row-start: 7;
	grid-row-end: 8;
}

#fourth-semester-closed{
	grid-column: 2;
	grid-row-start: 9;
	grid-row-end: 10;
}

#fifth-semester-closed{
	grid-column: 2;
	grid-row-start: 11;
	grid-row-end: 12;
}

.first-semester-open {
	z-index: 0;
	width: 80vw;
	height: 10vh;
	background-color: #6ECEB2;
	border-radius:30px;
	text-align: center;
	justify-content: center;
	animation: openbar 1s forwards;}

#modules-1{
	display: grid;
	grid-template-rows: 
		5vh 10vh 5vh 10vh 5vh 10vh 5vh 10vh 5vh;}
.module-1{
	visibility: hidden;
	position: fixed;}
.module-2{
	visibility: hidden;
	position: fixed;}
.module-3{
	visibility: hidden;
	position: fixed;}
.module-4{
	visibility: hidden;
	position: fixed;}

.moduleoneopen{
	opacity: 0;
	grid-column: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	z-index: 2;
	width: 70vw;
	justify-self:center;
	height: 10vh;
	background-color: #ECECEC;
	border-radius:30px;
	text-align: center;
	justify-content: center;
	animation: openmodule .5s .15s forwards;}
.moduletwoopen{
	opacity: 0;
	grid-column: 1;
	grid-row-start: 4;
	grid-row-end: 4;
	z-index: 2;
	width: 70vw;
	justify-self:center;
	height: 10vh;
	background-color: #ECECEC;
	border-radius:30px;
	text-align: center;
	justify-content: center;
	animation: openmodule .5s .30s forwards;}
.modulethreeopen{
	opacity: 0;
	grid-column: 1;
	grid-row-start: 6;
	grid-row-end: 6;
	z-index: 2;
	width: 70vw;
	justify-self:center;
	height: 10vh;
	background-color: #ECECEC;
	border-radius:30px;
	text-align: center;
	justify-content: center;
	animation: openmodule .5s .45s forwards;}
.modulefouropen{
	opacity: 0;
	grid-column: 1;
	grid-row-start: 8;
	grid-row-end: 8;
	z-index: 2;
	width: 70vw;
	justify-self:center;
	height: 10vh;
	background-color: #ECECEC;
	border-radius:30px;
	text-align: center;
	justify-content: center;
	animation: openmodule .5s .60s forwards;}

@keyframes openmodule {
	0%{opacity: 0;}
	100%{opacity: 100;}}

@keyframes openbar{
	0%{height:10vh;}
	100%{height: 75vh;}}
	
.first-semester-closed {
	display: block;
	z-index: 10;
	width: 80vw;
	height: 10vh;
	background-color: #6ECEB2;
	border-radius:30px;
	text-align: center;
	justify-content: center;
}
.second-semester-closed {
	display: block;
	width: 80vw;
	height: 10vh;
	border-radius:30px;
	background-color: #6ECEB2;
	text-align: center;
	justify-content: center;
}
.third-semester-closed {
	display: block;
	width: 80vw;
	height: 10vh;
	border-radius:30px;
	background-color: #6ECEB2;
	text-align: center;
	justify-content: center;
}
.fourth-semester-closed {
	display: block;
	width: 80vw;
	height: 10vh;
	border-radius:30px;
	background-color: #6ECEB2;
	text-align: center;
	justify-content: center;}

.fifth-semester-closed {
	display: block;
	width: 80vw;
	height: 10vh;
	border-radius:30px;
	background-color: #6ECEB2;
	text-align: center;
	justify-content: center;
}
/* loginform */
.loginbox{
	z-index: 200;
	width: 80vw;
	height: 60vh;
	padding:7vh 2.5vh;
	background:#2B3449;
	top:50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}
.loginbox p{
	margin: 0;
	padding: 0;
	color:white;
}
.loginbox input{
	width: 100%;
	margin-bottom:2vh;}
.loginbox input[type="text"], input[type="password"]
{
	border:none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline:none;
	height:1.5em;
	color: gray;
	font-size: 1em;
}

.loginbox input[type="submit"]
{border:none; 
	outline:none;
	height:1.5em;
background: #CA564A;
color:white;
	font-size: 1em;
	border-radius: 1em;}

.loginbox input[type="submit"]:hover
{
cursonr:pointer;
	background:#C9CFD6;
		color:black;
}
.loginbox a{
	text-decoration: none;
	font-size: 1em;
	line-height: 2em;
	color: gray;}
.loginbox a:hover{
	color: #CA564A;
}
.loginavatar{
	width: 100px;
	height: auto;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	
}